<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ari::web -&gt; VimOrEmacs{% block title %}{% endblock %}</title>

        <meta name="description" content="Help us solve the long-standing question: Vim or GNU Emacs? Which do you prefer/use? Which do you think that is better? {% block description %}{% endblock %}" />
        <meta
            name="keywords"
            content="ari-web, ari archer, vim, emacs, open source, foss, software, gnu emacs, floss, quiz, statistics, simple"
        />
        <meta
            name="robots"
            content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
        />
        <meta property="og:type" content="article" />

        <meta name="color-scheme" content="dark" />
        <meta name="theme-color" content="#181818" />

        <meta name="license" content="GPL-3.0-or-later" />

        <link rel="manifest" href="/manifest.json" />

        <style>
            * {
                font-family: sans-serif;
            }

            a {
                color: #ffd700;
            }

            body {
                background-color: #181818;
                color: whitesmoke;
                margin: auto;
                max-width: 1100px;
                padding: 2em;
            }

            fieldset > button, fieldset > select {
                background-color: #101010;
                border: none;
                margin: 0.1em;
                padding: 0.4em;
                width: 75%;
            }

            fieldset, h1, .centre {
                text-align: center;
            }

            .cat {
                width: 75%;
                height: 75%;
                max-width: 500px;
            }

            .vim {
                color: #019733;
            }

            .emacs {
                color: #7F5AB6;
            }
        </style>

        {% block head %}{% endblock %}
    </head>

    <body>
        <main>
            <article>
            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                <ul>
                {% for category, message in messages %}
                    <li>{{ message | escape }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}

            {% block body %}<h1>hello world</h1>{% endblock %}

            <br />
            <div class="centre">
                <a href="https://cataas.com/"><img class="cat" id="cat" src="https://cataas.com/cat" alt="an image of a cat" loading="lazy" /></a>
                <br />
                <i>Enjoy this cute picture from <a href="https://cataas.com/">https://cataas.com/</a> of a cat because I love cats</i>
            </div>
            </article>
        </main>
    </body>
</html>
