{% extends "base.j2" %}

{% if winner[0] %}
{% set w = winner[0].name.title() %}
{% else %}
{% set w = "Tied" %}
{% endif %}

{% block description %}Vote here! Current winning vote: {{ w }} with {{ winner[1] }} votes. Your vote might change the outcome!{% endblock %}

{% block body %}
<h1>Help us solve the long-standing question: <a href="https://www.vim.org/">Vim</a> or <a href="https://www.gnu.org/software/emacs/">GNU Emacs</a></h1>

<h2>
    Current winner:
    <span class="{{ w.lower() }}">{{ w }}</span>
    with {{ winner[1] }} votes
</h2>

<p>
    The question of "Vim or Emacs" has been a long standing question which oftentimes
    leads to <a href="https://en.wikipedia.org/wiki/Editor_war">editor wars</a>. This is why I've created this page -- to answer this question
    by using statistics &#129299;. This page is <a href="/git">open source</a> as all
    good things should be, and I've also implemented <a href="/votes.json">votes.json</a>
    and <a href="/stats.json">stats.json</a> APIs (which you can see in the <a href="/votes">votes page</a>). You can <b>vote once every 24 hours</b>,
    other resources are also limited to avoid abuse. <b>Thank you for your contribution visitor <img src="http://us.ari.lt/counter/@ari/kpnuBU0qISQlfR7cSNwwg9oW8654-RguVrXh9JOBGo3EP1-bm7aF9ROuQO6Jqesk.svg" style="display:inline;height:1em" alt="visitor count" loading="lazy">.</b>
</p>

<p>
    This project is a part of
    <a href="https://ari.lt/"><img style="display:inline;vertical-align:middle" src="https://ari.lt/badge.png" loading="lazy" alt="ari-web badge" height="31px" width="88px" /></a>,
    and by nature -- licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3+</a>.
</p>

<form method="POST">
    <fieldset>
        <legend>Which do you prefer/use and/or agree that is better?</legend>

        <select id="voe" name="voe" required>
            <option value="" selected></option>
            {% for e in Editor.all() %}
            <option value="{{ e.value }}">{{ e.name }}</option>
            {% endfor %}
        </select>

        <br />

        <button>I've made my choice!</button>
    </fieldset>
</form>
{% endblock %}
